<div class="w3-top">
    <div class="w3-bar w3-black ">
        <a href="{% url 'index' %}" class="w3-bar-item w3-button">Home</a><!--Home button-->
        <a href="{% url 'allProducts' %}" class="w3-bar-item w3-button">Products</a><!--Products button-->
        <a href="{% url 'search_products' %}" class="w3-bar-item w3-button">Search Products</a><!--Home button-->
        <a href="{% url 'contact' %}" class="w3-bar-item w3-button">Contact</a><!--Home button-->

    </div>
</div>
<div style="margin-top: 50px;"></div>